## Create SQL table from text
---

#### write code to convert table row to SQL Insert Scripts

In [2]:
def row_to_sql_insert(table_name, row_data):
    """
    Convert a table row to an SQL INSERT script.

    Args:
        table_name (str): The name of the table to insert the row into.
        row_data (list): A list of values representing the data for the row.

    Returns:
        str: An SQL INSERT script for inserting the row into the specified table.
    """
    values_str = ", ".join(f"'{value}'" for value in row_data)
    return f"INSERT INTO {table_name} VALUES ({values_str});"

# Example usage
table_name = "employees"
row_data = ["Alice", "25", "Engineer"]
sql_insert = row_to_sql_insert(table_name, row_data)
print(sql_insert)

INSERT INTO employees VALUES ('Alice', '25', 'Engineer');

In this code, we define a function called row_to_sql_insert that takes a table name and a list of row data as arguments, and returns an SQL INSERT script for inserting the row into the specified table.

The function works by first converting the row data to a comma-separated string of values enclosed in single quotes using a list comprehension and the join() method. It then uses an f-string to format the values string and table name into an SQL INSERT script.

We can then call the row_to_sql_insert function with example data, and print the resulting SQL INSERT script to the console using the print() function.

Note that this code assumes that all the values in the row data are strings, and that they should be enclosed in single quotes in the SQL script. If your row data contains non-string values, or if you want to use a different format for the SQL script, you may need to modify the code accordingly.