# Efficient Time and Expense Monitoring with Llama 2
---

    Author: Amit Shukla

[https://github.com/AmitXShukla](https://github.com/AmitXShukla)

[https://twitter.com/ashuklax](https://github.com/AShuklaX)

[https://youtube.com/@Amit.Shukla](https://youtube.com/@Amit.Shukla)


Meta has recently released Llama 2, a large language model trained with up to 70B parameters, positioning it as the fastest and most advanced solution available. This model is expected to outperform other tools in terms of both speed and accuracy.

In this blog post, I will demonstrate some automation use cases I have been working on. 

It's important to note that these use cases/models will work best when trained on "in-house" data. However, training such models is a rigorous task that requires significant computing hours and resources.

To make things more accessible and easier to utilize in production, using "off the shelf", language models like ChatGPT and Llama 2 is a viable solution.

Below, I present some examples of use cases I've been working on. 

*While these examples are not meant for production*, they still showcase the powerful capabilities of the language models.

`Upon completing this blog, you will acquire the skills to build Llama 2 and ChatGPT APIs and harness the capabilities of large language models for practical data analytics tasks.`

## Table of content
---

- Introduction
- [Llama 2 Installation Windows/Linux](https://github.com/AmitXShukla/RPA/blob/main/notebooks/llama2-UseCases.ipynb)
- [Efficient Time and Expense Monitoring with Llama 2](https://github.com/AmitXShukla/RPA/blob/main/notebooks/llama2-Efficient%20Time%20and%20Expense%20Monitoring%20with%20Llama%202.ipynb)
- [Using Llama 2 as OCR Vision AI](https://github.com/AmitXShukla/RPA/blob/main/notebooks/llama2-Using%20Llama%202%20as%20OCR%20Vision%20AI.ipynb)
- [Llama 2 as Supply Chain Assistant](https://github.com/AmitXShukla/RPA/blob/main/notebooks/llama2-as%20Supply%20Chain%20assistant.ipynb)
    - Streamlining 3-Way Receipt Match and Duplicate Voucher Invoices with Llama 2
    - Enhancing Fraud Detection: Utilizing Llama 2 as an Advanced Alert System for Monitoring Transactions
    - Maximizing Tax Savings, Ensuring Compliance, and Streamlining Audits with Llama 2
-  `**WIP**`: Tax Analytics | Spend Classification | Contracts management
---

## Introduction
---

#### About me
I'm Amit Shukla, and I specialize in training neural networks for Finance Supply Chain analysis, enabling them to identify data patterns and make accurate predictions.

During the challenges posed by the COVID-19 pandemic, I successfully trained GL and Supply Chain neural networks to anticipate supply chain shortages. The valuable insights gained from this effort have significantly influenced the content of this tutorial series.
	
#### Objective:
By delving into this powerful tool, we will master the fundamental techniques of utilizing large language models to predict hazards. 
This knowledge is crucial in preparing finance and supply chain data for advanced analytics, visualization, and predictive modeling using neural networks and machine learning.
	
#### Subject
It is crucial to emphasize that this specific series will focus exclusively on presenting `production-like examples that demonstrate certain use cases`. It is not intended for production applications. 

Nevertheless, these examples illustrate highly potent techniques that have practical applications in real-world Data Analytics.
	
#### Following
In future installments, we will explore Data Analytics and delve into the realm of Data Analytics and machine learning for predictive analytics.

Thank you for joining me, and I'm excited to embark on this educational journey together.
	
Let's get started.

---

## Installation
---

In a previous video, I demonstrated the process of activating the Open ChatGPT and Llama environments. 

In this section, I will guide you through the steps to install Llama 2 on a Windows operating system. 

While the installation process is quite similar to that on Linux, there are a few minor changes that need to be considered. 

Let's get started!

- Step 1: `download miniconda windows installer` [https://docs.conda.io/en/latest/miniconda.html](https://docs.conda.io/en/latest/miniconda.html)
- Step 2: create a new conda environment (say llamaConda)

In [337]:
# before you setup your machine for llama 2, check if you have cuda on your machine

import torch
torch.cuda.current_device()
# if you don't have cuda and torch on your machine, please move to next step and download cuda

0

In [ ]:
# download pytorch cuda
# https://pytorch.org/get-started/locally/
# uncomment and run this command in Terminal to monitor download progress and debug any error

# !conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia

In [338]:
# run these command again and make sure you have cuda available on your machine
import torch
torch.cuda.set_device(0)
torch.cuda.is_available(),torch.cuda.get_device_name()

(True, 'Quadro RTX 4000')

In [339]:
# use this case if you see CUDA out of memory error
# also, try to reduce your << --max_batch_size 1 >>, max_split_size_mb:512 and work with "lowest memory size" model
# !torchrun --nproc_per_node 1 example_text_completion.py --ckpt_dir llama-2-7b --tokenizer_path tokenizer.model --max_seq_len 512 --max_batch_size 1
# clear cache

import torch
torch.cuda.empty_cache()
import os
os.environ["PYTORCH_CUDA_ALLOC_CONF"] = "max_split_size_mb:24"

# import gc
# del variables
# gc.collect()

torch.cuda.memory_summary(device=None, abbreviated=False)

'|===========================================================================|\n|                  PyTorch CUDA memory summary, device ID 0                 |\n|---------------------------------------------------------------------------|\n|            CUDA OOMs: 0            |        cudaMalloc retries: 0         |\n|===========================================================================|\n|        Metric         | Cur Usage  | Peak Usage | Tot Alloc  | Tot Freed  |\n|---------------------------------------------------------------------------|\n| Allocated memory      |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from large pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from small pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|---------------------------------------------------------------------------|\n| Active memory         |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from large pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from small pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|---------------------------------------------------------------------------|\n| Requested memory      |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from large pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from small pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|---------------------------------------------------------------------------|\n| GPU reserved memory   |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from large pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from small pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|---------------------------------------------------------------------------|\n| Non-releasable memory |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from large pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|       from small pool |      0 B   |      0 B   |      0 B   |      0 B   |\n|---------------------------------------------------------------------------|\n| Allocations           |       0    |       0    |       0    |       0    |\n|       from large pool |       0    |       0    |       0    |       0    |\n|       from small pool |       0    |       0    |       0    |       0    |\n|---------------------------------------------------------------------------|\n| Active allocs         |       0    |       0    |       0    |       0    |\n|       from large pool |       0    |       0    |       0    |       0    |\n|       from small pool |       0    |       0    |       0    |       0    |\n|---------------------------------------------------------------------------|\n| GPU reserved segments |       0    |       0    |       0    |       0    |\n|       from large pool |       0    |       0    |       0    |       0    |\n|       from small pool |       0    |       0    |       0    |       0    |\n|---------------------------------------------------------------------------|\n| Non-releasable allocs |       0    |       0    |       0    |       0    |\n|       from large pool |       0    |       0    |       0    |       0    |\n|       from small pool |       0    |       0    |       0    |       0    |\n|---------------------------------------------------------------------------|\n| Oversize allocations  |       0    |       0    |       0    |       0    |\n|---------------------------------------------------------------------------|\n| Oversize GPU segments |       0    |       0    |       0    |       0    |\n|===========================================================================|\n'

signup and receive model download link from meta.

[Mete AI website](https://ai.meta.com/resources/models-and-libraries/llama-downloads/)
>>>
    do not use the 'Copy link address' option when you right click the URL. If the copied URL text starts with: https://download.llamameta.net, you copied it correctly. If the copied URL text starts with: https://l.facebook.com, you copied it the wrong way.

In [ ]:
# Step 3: uncomment and run this command on your machine
# make sure, you have a Git installed on your machine if not
# for linux run 
# sudo apt install git-all

# for windows, download git from this link
# https://git-scm.com/download/win

####### clone Meta llama repo ##########
git clone https://github.com/facebookresearch/llama.git

In [ ]:
# browse to root of your llama repo

## LINUX
# cd llama
# chmod +x # ./download.sh
# ./download.sh

## WINDOWS
# bash ./download.sh
# if this commands error out, download wget.exe from below link and copy wget.ex to C:\amit.la\llama
# https://eternallybored.org/misc/wget/
# make sure, you include << C:\amit.la\llama >> to windows environment path so that windows can find it

In [ ]:
# make sure, latest conda env is selected as kernel
# before activating and installing dependencies

!pip install -e .
!python setup.py install

In [ ]:
# only for windows
# change line #62 on llama/generate.py
# from 
# << torch.distributed.init_process_group("gloo|nccl") >>
# to
# << torch.distributed.init_process_group("gloo|nccl") >>

In [ ]:
# make sure, latest conda env (llamaConda) is selected as kernel
# before activating and installing dependencies

# !pip install -e .
# !python setup.py install

In [ ]:
# ./example_text_completion.py
# ./example_chat_completion.py

# change prompts | dialogue 
#   prompts = [
#         # For these prompts, the expected answer is the natural continuation of the prompt
#         "meaning of life is",
#     ]

In [ ]:
# you are ready to use llama
# !torchrun --nproc_per_node 1 example_text_completion.py --ckpt_dir llama-2-7b --tokenizer_path tokenizer.model --max_seq_len 512 --max_batch_size 1

## Efficient Time and Expense Monitoring with Llama 2
---

#### Time card monitoring
---

In [ ]:
# pip install -U polars # data warehouse
# pip install pandas

In [342]:
## TIMECARD DataFrame ##
## TEST Data ##
from datetime import datetime, timedelta
import polars as pl


dfTimeCard = pl.DataFrame({
    'AS_OF_DATE': pl.date_range(datetime(2022, 1, 1), datetime(2023, 7, 20), timedelta(days=1), time_unit="ms", eager=True),
    "EMPLOYEE_ID": 1000,
    "MON" : 8,
    "TUE" : 8,
    "WED" : 8,
    "THU" : 8,
    "FRI" : 8
})

for i in range(1001,2001,1):
    timeCardTmp = pl.DataFrame({
    'AS_OF_DATE': pl.date_range(datetime(2022, 1, 1), datetime(2023, 7, 20), timedelta(days=1), time_unit="ms", eager=True),
    "EMPLOYEE_ID": i,
    "MON" : 8,
    "TUE" : 8,
    "WED" : 8,
    "THU" : 8,
    "FRI" : 8
    })
    dfTimeCard = pl.concat(
    [
        dfTimeCard,
        timeCardTmp,
    ],
    how="vertical",
    )

dfTimeCard.head()

shape: (5, 7)
┌─────────────────────┬─────────────┬─────┬─────┬─────┬─────┬─────┐
│ AS_OF_DATE          ┆ EMPLOYEE_ID ┆ MON ┆ TUE ┆ WED ┆ THU ┆ FRI │
│ ---                 ┆ ---         ┆ --- ┆ --- ┆ --- ┆ --- ┆ --- │
│ datetime[ms]        ┆ i64         ┆ i64 ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════════════════════╪═════════════╪═════╪═════╪═════╪═════╪═════╡
│ 2022-01-01 00:00:00 ┆ 1000        ┆ 8   ┆ 8   ┆ 8   ┆ 8   ┆ 8   │
│ 2022-01-02 00:00:00 ┆ 1000        ┆ 8   ┆ 8   ┆ 8   ┆ 8   ┆ 8   │
│ 2022-01-03 00:00:00 ┆ 1000        ┆ 8   ┆ 8   ┆ 8   ┆ 8   ┆ 8   │
│ 2022-01-04 00:00:00 ┆ 1000        ┆ 8   ┆ 8   ┆ 8   ┆ 8   ┆ 8   │
│ 2022-01-05 00:00:00 ┆ 1000        ┆ 8   ┆ 8   ┆ 8   ┆ 8   ┆ 8   │
└─────────────────────┴─────────────┴─────┴─────┴─────┴─────┴─────┘

In [349]:
## collect standard stats from all dataset

# dfTimeCard.describe()

dayCols = ["MON","TUE","WED","THU","FRI"]
## average, min, max and total hours per week in dataset
dfTimeCardStats = dfTimeCard.describe().select(
        pl.col("*").exclude(
            "AS_OF_DATE","EMPLOYEE_ID")).filter(
                (pl.col("describe") == "mean") 
                | (pl.col("describe") == "max") 
                | (pl.col("describe") == "min")
        ).select([
        pl.col("*"),
        pl.sum_horizontal(dayCols).alias('total')
    ])
# dfTimeCardStats.item(0,6)
dfTimeCardStats.head()

shape: (3, 7)
┌──────────┬─────────┬─────┬─────┬─────┬─────┬──────────┐
│ describe ┆ MON     ┆ TUE ┆ WED ┆ THU ┆ FRI ┆ total    │
│ ---      ┆ ---     ┆ --- ┆ --- ┆ --- ┆ --- ┆ ---      │
│ str      ┆ f64     ┆ f64 ┆ f64 ┆ f64 ┆ f64 ┆ f64      │
╞══════════╪═════════╪═════╪═════╪═════╪═════╪══════════╡
│ mean     ┆ 8.01407 ┆ 8.0 ┆ 8.0 ┆ 8.0 ┆ 8.0 ┆ 40.01407 │
│ min      ┆ 8.0     ┆ 8.0 ┆ 8.0 ┆ 8.0 ┆ 8.0 ┆ 40.0     │
│ max      ┆ 12.0    ┆ 8.0 ┆ 8.0 ┆ 8.0 ┆ 8.0 ┆ 44.0     │
└──────────┴─────────┴─────┴─────┴─────┴─────┴──────────┘

In [345]:
# getting latest stats by employee
out = dfTimeCard.filter((pl.col("EMPLOYEE_ID") == 1001) & (pl.col("AS_OF_DATE") == datetime(2023, 7, 20)))
out

shape: (1, 7)
┌─────────────────────┬─────────────┬─────┬─────┬─────┬─────┬─────┐
│ AS_OF_DATE          ┆ EMPLOYEE_ID ┆ MON ┆ TUE ┆ WED ┆ THU ┆ FRI │
│ ---                 ┆ ---         ┆ --- ┆ --- ┆ --- ┆ --- ┆ --- │
│ datetime[ms]        ┆ i64         ┆ i64 ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════════════════════╪═════════════╪═════╪═════╪═════╪═════╪═════╡
│ 2023-07-20 00:00:00 ┆ 1001        ┆ 8   ┆ 8   ┆ 8   ┆ 8   ┆ 8   │
└─────────────────────┴─────────────┴─────┴─────┴─────┴─────┴─────┘

In [346]:
# let's assume, today's time sheet is entered by all employees
# and some of the employee accidentally booked 12 hours in a day

for i in range(1001,2001,1):
    timeCardTmp = pl.DataFrame({
    'AS_OF_DATE': pl.date_range(datetime(2023, 7, 21), datetime(2023, 7, 22), timedelta(days=1), time_unit="ms", eager=True),
    "EMPLOYEE_ID": i,
    "MON" : 12,
    "TUE" : 8,
    "WED" : 8,
    "THU" : 8,
    "FRI" : 8
    })
    dfTimeCard = pl.concat(
    [
        dfTimeCard,
        timeCardTmp,
    ],
    how="vertical",
    )

dfTimeCard.shape

(568566, 7)

In [347]:
# getting latest stats by employee
out = dfTimeCard.filter((pl.col("EMPLOYEE_ID") == 1001) & (pl.col("AS_OF_DATE") == datetime(2023, 7, 21)))
out

shape: (1, 7)
┌─────────────────────┬─────────────┬─────┬─────┬─────┬─────┬─────┐
│ AS_OF_DATE          ┆ EMPLOYEE_ID ┆ MON ┆ TUE ┆ WED ┆ THU ┆ FRI │
│ ---                 ┆ ---         ┆ --- ┆ --- ┆ --- ┆ --- ┆ --- │
│ datetime[ms]        ┆ i64         ┆ i64 ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════════════════════╪═════════════╪═════╪═════╪═════╪═════╪═════╡
│ 2023-07-21 00:00:00 ┆ 1001        ┆ 12  ┆ 8   ┆ 8   ┆ 8   ┆ 8   │
└─────────────────────┴─────────────┴─────┴─────┴─────┴─────┴─────┘

In [281]:
## TEST DATA Prompts ##
# respond in one word, is there an anomaly in this data.
# find anomalies in this data. 

# Record 1
# My average working hours are 45 hours per week.
# this week, I charged 45 hours this week.
# I worked max 34 hours in one day. 
# I worked min 2 hours in one day, I also took 2 days PTO.

# Record 2
# My average working hours are 45 hours per week.
# this week, I charged 45 hours this week.
# I worked max 34 hours in one day. 
# I worked min 2 hours in one day, I also took 2 days PTO.

# Record 3
# My average working hours are 45 hours per week.
# this week, I charged 45 hours this week.
# I worked max 34 hours in one day. 
# I worked min 2 hours in one day, I also took 2 days PTO.

# Record 4
# My average working hours are 45 hours per week.
# this week, I charged 45 hours this week.
# I worked max 9 hours in one day. 
# I worked min 9 hours in one day, I also took 3 days PTO.

# Record 5
# respond in one word, is there an anomaly in this data.
# My average working hours are 45 hours per week.
# this week, I charged 36 hours this week.
# I worked max 9 hours in one day. 
# I worked min 9 hours in one day, I also took 1 days PTO.

In [350]:
out = dfTimeCard.filter((pl.col("EMPLOYEE_ID") == 1001) & (pl.col("AS_OF_DATE") == datetime(2023, 7, 21)))
# out.head()

prompt = "respond in one word, is there an anomaly in this data. Average employee working hours are " + str(dfTimeCardStats.item(0,6)) + " hours per week. "
prompt += "This week, I charged total " + str(out.item(0,2) + out.item(0,3) + out.item(0,4) + out.item(0,5) + out.item(0,6)) + " hours. "
prompt += "I worked " +str(out.item(0,2)) + ","+str(out.item(0,3)) + ","+str(out.item(0,4)) + ","+str(out.item(0,5)) + ","+str(out.item(0,6)) + ","
prompt += " hours per day from Monday to Friday and took 0 PTOs"
prompt

'respond in one word, is there an anomaly in this data. Average employee working hours are 40.01407048610012 hours per week. This week, I charged total 44 hours. I worked 12,8,8,8,8, hours per day from Monday to Friday and took 0 PTOs'

In [352]:
# build dynamic prompt per day per employee
timeCardDate = datetime(2023, 7, 20)

for i in range(1001,1003,1):
    out = dfTimeCard.filter((pl.col("EMPLOYEE_ID") == i) & (pl.col("AS_OF_DATE") == timeCardDate))
    # out.head()

    prompt = "respond in one word, is there an anomaly in this data. Average employee working hours are " + str(dfTimeCardStats.item(0,6)) + " hours per week. "
    prompt += "This week, I charged total " + str(out.item(0,2) + out.item(0,3) + out.item(0,4) + out.item(0,5) + out.item(0,6)) + " hours. "
    prompt += "I worked " +str(out.item(0,2)) + ","+str(out.item(0,3)) + ","+str(out.item(0,4)) + ","+str(out.item(0,5)) + ","+str(out.item(0,6)) + ","
    prompt += " hours per day from Monday to Friday and took 0 PTOs"
    
    if callLlama(prompt) == "Yes":
        print(f"Employee ID {i} has discrepancies in {timeCardDate} time sheet.")

Employee ID 1001 has discrepancies in 2023-07-20 00:00:00 time sheet.
Employee ID 1002 has discrepancies in 2023-07-20 00:00:00 time sheet.

In [351]:
def callChatGPT(prompt):
    # completion = openai.ChatCompletion.create(
    # model=model_engine,
    # messages=[
    #     {"role": "user", "content": prompt}
    # ])
    # return completion.choices[0].message.content
    return "Yes"

def callLlama(prompt):
    # results = generator.chat_completion(
    #     dialogs,  # type: ignore
    #     max_gen_len=max_gen_len,
    #     temperature=temperature,
    #     top_p=top_p,
    # )
    # return result['generation']['content']
    return "Yes"

#### Expense monitoring
---

The process of handling expenses can be quite complex, involving numerous factors. 

In the following use case, I will illustrate one specific scenario where Llama can be employed to detect anomalies.

However, please note that this is just one of the numerous examples demonstrating how Llama can be utilized for identifying irregularities.

`For now, we haven't incorporated "Images" into the process. In upcoming tutorials, I will explain how you can utilize Llama to monitor expense images for potential fraud. `

Let's consider a situation where employees are reimbursed based on their receipts, and a detailed record of items is maintained in a system.

In [353]:
## Expense DataFrame ##
## TEST Data ##
from datetime import datetime, timedelta
import polars as pl
import random

dfExpCard = pl.DataFrame({
    'AS_OF_DATE': random.choices(pl.date_range(datetime(2022, 1, 1), datetime(2023, 7, 20), timedelta(days=1), time_unit="ms", eager=True), k=1),
    "WEEKDAY": random.choices((True, False), k=1),
    "EMPLOYEE_ID": 1000,
    "EXPENSE_TYPE" : random.choices(["Lodging", "Meal", "Transit", "Air Ticket", "Group Lunch", "Office Supplies"], k=1),
    "AMOUNT" : random.randint(125, 955),
    "LOCATION": random.choices(["Reno", "Las Vegas", "Seattle", "Los Angeles", "New York", "San Francisco"], k=1),
    "JUSTIFICATION" : "Hotels were sold out due to concert in area.",
})

for i in range(1001,2001,1):
    for j in range(1,11,1):
        dfExpCardTmp = pl.DataFrame({
        'AS_OF_DATE': random.choices(pl.date_range(datetime(2022, 1, 1), datetime(2023, 7, 20), timedelta(days=1), time_unit="ms", eager=True), k=1),
        "WEEKDAY": random.choices((True, False), k=1),
        "EMPLOYEE_ID": i,
        "EXPENSE_TYPE" : random.choices(["Lodging","Meal", "Transit", "Air Ticket", "Group Lunch", "Office Supplies"], k=1),
        "AMOUNT" : random.randint(125, 955),
        "LOCATION": random.choices(["Reno", "Las Vegas", "Seattle", "Los Angeles", "New York", "San Francisco"], k=1),
        "JUSTIFICATION" : "Hotels were sold out due to concert in area.",
        })
        dfExpCard = pl.concat(
        [
            dfExpCard,
            dfExpCardTmp,
        ],
        how="vertical",
        )

In [354]:
dfExpCard.head()

shape: (5, 7)
┌──────────────┬─────────┬─────────────┬──────────────┬────────┬───────────┬───────────────────────┐
│ AS_OF_DATE   ┆ WEEKDAY ┆ EMPLOYEE_ID ┆ EXPENSE_TYPE ┆ AMOUNT ┆ LOCATION  ┆ JUSTIFICATION         │
│ ---          ┆ ---     ┆ ---         ┆ ---          ┆ ---    ┆ ---       ┆ ---                   │
│ datetime[μs] ┆ bool    ┆ i64         ┆ str          ┆ i64    ┆ str       ┆ str                   │
╞══════════════╪═════════╪═════════════╪══════════════╪════════╪═══════════╪═══════════════════════╡
│ 2023-01-23   ┆ false   ┆ 1000        ┆ Lodging      ┆ 955    ┆ New York  ┆ Hotels were sold out  │
│ 00:00:00     ┆         ┆             ┆              ┆        ┆           ┆ due to conc…          │
│ 2022-10-03   ┆ true    ┆ 1001        ┆ Group Lunch  ┆ 714    ┆ Reno      ┆ Hotels were sold out  │
│ 00:00:00     ┆         ┆             ┆              ┆        ┆           ┆ due to conc…          │
│ 2023-04-06   ┆ false   ┆ 1001        ┆ Group Lunch  ┆ 642    ┆ Seattle   ┆ Hotels were sold out  │
│ 00:00:00     ┆         ┆             ┆              ┆        ┆           ┆ due to conc…          │
│ 2022-01-26   ┆ true    ┆ 1001        ┆ Meal         ┆ 586    ┆ Las Vegas ┆ Hotels were sold out  │
│ 00:00:00     ┆         ┆             ┆              ┆        ┆           ┆ due to conc…          │
│ 2022-07-11   ┆ false   ┆ 1001        ┆ Lodging      ┆ 721    ┆ Reno      ┆ Hotels were sold out  │
│ 00:00:00     ┆         ┆             ┆              ┆        ┆           ┆ due to conc…          │
└──────────────┴─────────┴─────────────┴──────────────┴────────┴───────────┴───────────────────────┘

In [306]:
## collect standard stats from all dataset

# dfExpCard.describe()

## average, min, max and total for amount per EXPENSE TYPE by LOCATION
dfExpCardStats = dfExpCard.filter((pl.col("LOCATION") == "San Francisco") & (pl.col("EXPENSE_TYPE") == "Lodging")).select(pl.col("AMOUNT")).mean()
# describe().select(pl.col("describe","AMOUNT"))
# dfExpCardStats.head()
dfExpCardStats

shape: (1, 1)
┌────────────┐
│ AMOUNT     │
│ ---        │
│ f64        │
╞════════════╡
│ 548.345725 │
└────────────┘

In [294]:
# build prompts
## TEST DATA Prompts ##
# respond in one word, is there an anomaly in this data.
# find anomalies in this data. 

# Record 1
# Average Lodging in San Francisco on a week day costs $999.
# I paid $400 for one night. Assuming 20% tolerance is fair.

In [331]:
# build dynamic prompt per day per employee
expCardDate = datetime(2023, 7, 19)
tolerance = 20

for i in range(1001,1003,1):
    employeeExp = dfExpCard.filter((pl.col("EMPLOYEE_ID") == i) 
                                #    & (pl.col("AS_OF_DATE") == expCardDate)
                                #    & (pl.col("LOCATION") == "San Francisco")
                                #  & (pl.col("EXPENSE_TYPE") == "Lodging")
                             )

    prompt = "respond in one word, is there an anomaly in this data."
    prompt += "Average Lodging in San Francisco on a week day costs  " + str(dfExpCardStats.item(0,0)) 
    prompt += ". I paid " + str({employeeExp.item(0,4)}) + " for one night. Assuming "
    prompt += str({tolerance}) +"% tolerance is fair."
    print(prompt)
    # call ChatGPT | Llama API
    if callLlama(prompt) == "Yes":
        print(f"Employee ID {i} has discrepancies in {expCardDate} expense report.")

respond in one word, is there an anomaly in this data.Average Lodging in San Francisco on a week day costs  548.3457249070632. I paid {350} for one night. Assuming {20}% tolerance is fair.
Employee ID 1001 has discrepancies in 2023-07-19 00:00:00 expense report.
respond in one word, is there an anomaly in this data.Average Lodging in San Francisco on a week day costs  548.3457249070632. I paid {532} for one night. Assuming {20}% tolerance is fair.
Employee ID 1002 has discrepancies in 2023-07-19 00:00:00 expense report.

In [325]:
employeeExp = dfExpCard.filter((pl.col("EMPLOYEE_ID") == 1001)
                           & (pl.col("LOCATION") == "San Francisco"))

employeeExp.item(0,4)

350

## Conclusion:

The use case discussed above exemplify sophisticated business processes and there is certainly lot more which is not covered. 

This use case merely scratch the surface of what can be achieved with these advanced tools. 

You may argue that the same results can be attained using simple algebraic mathematics with these datasets, and I fully support and agree with this observation.

In essence, the entire field, encompassing Data Science, Python, Llama, and ChatGPT, revolves around uncovering statistical associations within data.

However, it is crucial to recognize that the deployment of Llama or ChatGPT-like models does not surpass the importance of traditional statistics,
instead, they should be employed to streamline specific tasks.